name: Detect

on:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  swift-versions:
    name: Swift release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: ./.github/workflows/check_swift_releases.sh
